* {
    padding: 0;
    margin: 0;
}

*,
*::after,
*::before {
    box-sizing: inherit;
}

html {
    box-sizing: border-box; 
    font-size: 62.5%; // 10/16 = .625
}

body {
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    background-image: linear-gradient(to right bottom, #fff 0%
                                                     , var(--color-primary-light) 20%
                                                     , #fff 20%
                                                     , var(--color-primary-light) 80%
                                                     , #fff 80%);
    background-size: cover;
    background-repeat: no-repeat;

    min-height: 100vh;
}